<h1>All Courses</h1>

<% @course.each do |course| %>
  <div class="card">
    <h3><%= course.name %></h3>
    <%= course.description %>
    <br><br>
    <%= course.user.first_name %>
    <br><br>
    <%= link_to 'Show Details', course_path(course) %>
    <%= link_to 'Edit Details', edit_course_path(course) %>
  </div>
<% end %>


<br><br>
<button class="">
  <%= link_to 'Add Course', new_course_path %>
</button>

